{
  "common": {
    "NEXT_PUBLIC_FRONTEND_ROOT_URL": "http://localhost:3000",
    "NEXT_PUBLIC_GITHUB_CLIENT_ID": "",
    "NEXT_PUBLIC_GITHUB_CLIENT_SECRET": ""
  },
  "mock": {
    "NEXT_PUBLIC_APP_MODE": "mock",
    "NEXT_PUBLIC_BACKEND_ROOT_URL": "http://localhost:3000"
  },
  "local": {
    "NEXT_PUBLIC_APP_MODE": "local",
    "NEXT_PUBLIC_BACKEND_ROOT_URL": "http://localhost:8080"
  },
  "dev": {
    "NEXT_PUBLIC_APP_MODE": "dev",
    "NEXT_PUBLIC_BACKEND_ROOT_URL": "http://localhost:8080"
  },
  "prod": {
    "NEXT_PUBLIC_APP_MODE": "prod",
    "NEXT_PUBLIC_BACKEND_ROOT_URL": "http://localhost:8080"
  }
}
