{
  "common": {
    "NEXT_PUBLIC_DEFAULT_LOCALE_CODE": "ko",
    "NEXT_PUBLIC_OAUTH2_CSRF_STATE": "",
    "NEXT_PUBLIC_OAUTH2_GITHUB_CLIENT_ID": "",
    "NEXT_PUBLIC_OAUTH2_GITHUB_CLIENT_SECRET": "",
    "NEXT_PUBLIC_URI_FRONTEND_PROTOCOL": "http",
    "NEXT_PUBLIC_URI_FRONTEND_HOSTNAME": "localhost",
    "NEXT_PUBLIC_URI_FRONTEND_PORT": 3000
  },
  "mock": {
    "NEXT_PUBLIC_DEVELOPER_ENABLE_LOGGING": true,
    "NEXT_PUBLIC_APP_MODE": "mock",
    "NEXT_PUBLIC_URI_BACKEND_PROTOCOL": "http",
    "NEXT_PUBLIC_URI_BACKEND_HOSTNAME": "localhost",
    "NEXT_PUBLIC_URI_BACKEND_PORT": 9090
  },
  "local": {
    "NEXT_PUBLIC_DEVELOPER_ENABLE_LOGGING": true,
    "NEXT_PUBLIC_APP_MODE": "local",
    "NEXT_PUBLIC_URI_BACKEND_PROTOCOL": "http",
    "NEXT_PUBLIC_URI_BACKEND_HOSTNAME": "localhost",
    "NEXT_PUBLIC_URI_BACKEND_PORT": 8080
  },
  "dev": {
    "NEXT_PUBLIC_DEVELOPER_ENABLE_LOGGING": true,
    "NEXT_PUBLIC_APP_MODE": "dev",
    "NEXT_PUBLIC_URI_BACKEND_PROTOCOL": "http",
    "NEXT_PUBLIC_URI_BACKEND_HOSTNAME": "localhost",
    "NEXT_PUBLIC_URI_BACKEND_PORT": 8080
  },
  "prod": {
    "NEXT_PUBLIC_DEVELOPER_ENABLE_LOGGING": false,
    "NEXT_PUBLIC_APP_MODE": "prod",
    "NEXT_PUBLIC_URI_BACKEND_PROTOCOL": "http",
    "NEXT_PUBLIC_URI_BACKEND_HOSTNAME": "localhost",
    "NEXT_PUBLIC_URI_BACKEND_PORT": 8080
  }
}
